nmap
httpx
whatweb
gobuster
feroxbuster
ffuf
nikto
nuclei
hydra
ncrack
ssh-audit
rdpscan
enum4linux
smbclient
crackmapexec
smbmap
ftp
snmpwalk
onesixtyone
ldapsearch
smtp-user-enum
rpcclient
dig
dnsenum
showmount
searchsploit
pandoc
